
h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}
 
p {
    width: 50%;
    line-height: 2;
    display: inline-block;
    background-color: #197e00;
    padding: 20px;
    position: relative;
    z-index: 999;
    margin: 50px 0 0;
    color: #fff;
    letter-spacing: 2px;
}
 
a {
    color: #fff;
    text-decoration: none;
    background-color: #0c9600;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #006419;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}
 
h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #76b600;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}
 
html {
    background-color: #a5ff99;
}
 
body {
    background-color: #fff;
    padding: 30px 30px 30px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}
 
img {
    height: 300px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
}